<?xml version="1.0" encoding="utf-8"?>
<phpunit
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    syntaxCheck="false"
    bootstrap="./vendor/autoload.php">
    <php>
    </php>
    <testsuites>
        <testsuite name="Krak Validation Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
      <whitelist processUncoveredFilesFromWhitelist="true">
        <directory suffix=".php">./src</directory>
      </whitelist>
    </filter>
</phpunit>
